# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Networking(Unet)Example.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Onii-Chan\Desktop\NetworkingFinal\Networking(Unet)Example\.idea\.idea.Networking(Unet)Example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
